import os
import sys
basedir = os.path.abspath(os.path.dirname(sys.argv[0]))

CONSUMER_KEY = ""
CONSUMER_SECRET = ""
API_TOKEN = ""
API_SECRET = ""
SQLALCHEMY_DATABASE_URI = 'sqlite:///'+os.path.join(basedir, 'app.db')
SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'db_repository')